In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
df=pd.read_csv("F:\download\Training Dataset.csv")

In [4]:
df1=pd.read_csv("F:\download\Test Dataset.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [7]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [10]:
df.dropna(inplace =True)

In [11]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [31]:
def Property_Area(x):
    if x=='Rural':
        return 1
    else :
        return 0

In [33]:
df['Property_Area']=df['Property_Area'].apply(Property_Area)

In [34]:
df1['Property_Area']=df1['Property_Area'].apply(Property_Area)

In [35]:
def Loan_Status(x):
    if x=='Y':
        
        return 1
    else :
        return  0

In [36]:
df['Loan_Status']=df['Loan_Status'].apply(Loan_Status)

In [19]:
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [12]:
def male(x):
    x=str(x)
    if x== 'Male':
        return 1
    if x == 'Female':
        return 0

In [13]:
df['Gender']=df['Gender'].apply(male)

In [20]:
df1['Gender']=df1['Gender'].apply(male)

In [14]:
def married (x):
    if x=='Yes':
        return 1
    else :
        return 0

In [15]:
df['Married']=df['Married'].apply(married)

In [21]:
df1['Married']=df1['Married'].apply(married)

In [16]:
def Graduate(x):
    if x=='Graduate':
        return 1
    else :
        return 0

In [22]:
df1['Education']=df1['Education'].apply(Graduate)

In [18]:
df['Education']=df['Education'].apply(Graduate)

In [23]:
def Self_Employed(x):
    if x=='Yes':
        return 1
    if x=='No':
        return 0

In [24]:
df['Self_Employed']=df['Self_Employed'].apply(Self_Employed)

In [25]:
df1['Self_Employed']=df1['Self_Employed'].apply(Self_Employed)

In [29]:
def Credit_History (x):
    if x is not null	:
        return x
    else :
        return 0

In [37]:
df.head(15)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,1,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,0,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,0,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,0,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,0,1
6,LP001013,1,1,0,0,0,2333,1516.0,95.0,360.0,1.0,0,1
7,LP001014,1,1,3+,1,0,3036,2504.0,158.0,360.0,0.0,0,0
8,LP001018,1,1,2,1,0,4006,1526.0,168.0,360.0,1.0,0,1
9,LP001020,1,1,1,1,0,12841,10968.0,349.0,360.0,1.0,0,0
10,LP001024,1,1,2,1,0,3200,700.0,70.0,360.0,1.0,0,1
12,LP001028,1,1,2,1,0,3073,8106.0,200.0,360.0,1.0,0,1
13,LP001029,1,0,0,1,0,1853,2840.0,114.0,360.0,1.0,1,0
14,LP001030,1,1,2,1,0,1299,1086.0,17.0,120.0,1.0,0,1
15,LP001032,1,0,0,1,0,4950,0.0,125.0,360.0,1.0,0,1
17,LP001036,0,0,0,1,0,3510,0.0,76.0,360.0,0.0,0,0

In [48]:
def Dependents (x):
    
    if x=='3+':
        return 4
    else :
        return x

In [49]:
df['Dependents']=df['Dependents'].apply(Dependents)

In [50]:
df1['Dependents']=df1['Dependents'].apply(Dependents)

In [38]:
df1.head(15)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1.0,1,0,1,0.0,5720,0,110.0,360.0,1.0,0
1,LP001022,1.0,1,1,1,0.0,3076,1500,126.0,360.0,1.0,0
2,LP001031,1.0,1,2,1,0.0,5000,1800,208.0,360.0,1.0,0
3,LP001035,1.0,1,2,1,0.0,2340,2546,100.0,360.0,NaN,0
4,LP001051,1.0,0,0,0,0.0,3276,0,78.0,360.0,1.0,0
5,LP001054,1.0,1,0,0,1.0,2165,3422,152.0,360.0,1.0,0
6,LP001055,0.0,0,1,0,0.0,2226,0,59.0,360.0,1.0,0
7,LP001056,1.0,1,2,0,0.0,3881,0,147.0,360.0,0.0,1
8,LP001059,1.0,1,2,1,NaN,13633,0,280.0,240.0,1.0,0
9,LP001067,1.0,0,0,0,0.0,2400,2400,123.0,360.0,1.0,0
10,LP001078,1.0,0,0,0,0.0,3091,0,90.0,360.0,1.0,0
11,LP001082,1.0,1,1,1,NaN,2185,1516,162.0,360.0,1.0,0
12,LP001083,1.0,0,3+,1,0.0,4166,0,40.0,180.0,NaN,0
13,LP001094,1.0,1,2,1,NaN,12173,0,166.0,360.0,0.0,0
14,LP001096,0.0,0,0,1,0.0,4666,0,124.0,360.0,1.0,0

In [51]:
X = df.drop(['Loan_ID', 'Loan_Status'], axis=1)
y = df['Loan_Status']

In [52]:
X_train=df.drop(['Loan_ID', 'Loan_Status'], axis=1)

In [41]:
y_train=df['Loan_Status']

In [54]:
X_test=df1.drop(['Loan_ID'],axis=1)

In [55]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [57]:
y_pred = model.predict(X_test)

In [60]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [61]:
df1['loan_status']=y_pred

In [62]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,loan_status
0,LP001015,1.0,1,0,1,0.0,5720,0,110.0,360.0,1.0,0,1
1,LP001022,1.0,1,1,1,0.0,3076,1500,126.0,360.0,1.0,0,1
2,LP001031,1.0,1,2,1,0.0,5000,1800,208.0,360.0,1.0,0,1
3,LP001035,1.0,1,2,1,0.0,2340,2546,100.0,360.0,NaN,0,1
4,LP001051,1.0,0,0,0,0.0,3276,0,78.0,360.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1.0,1,4,0,1.0,4009,1777,113.0,360.0,1.0,0,1
363,LP002975,1.0,1,0,1,0.0,4158,709,115.0,360.0,1.0,0,1
364,LP002980,1.0,0,0,1,0.0,3250,1993,126.0,360.0,NaN,0,1
365,LP002986,1.0,1,0,1,0.0,5000,2393,158.0,360.0,1.0,1,1
366,LP002989,1.0,0,0,1,1.0,9200,0,98.0,180.0,1.0,1,1