In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("F:\\download\\train.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df=df.drop(['Cabin','Ticket','Name'],axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [7]:
df.dropna()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [8]:
def m (x):
    if x=='male':
        return 1
    else:
        return 0

In [9]:
def f (x):
    if x=='female':
        return 1
    else:
        return 0

In [10]:
df['male']=df['Sex'].apply(m)

In [11]:
df['female']=df['Sex'].apply(f)

In [12]:
df.head(15)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,male,female
0,1,0,3,male,22.0,1,0,7.2500,S,1,0
1,2,1,1,female,38.0,1,0,71.2833,C,0,1
2,3,1,3,female,26.0,0,0,7.9250,S,0,1
3,4,1,1,female,35.0,1,0,53.1000,S,0,1
4,5,0,3,male,35.0,0,0,8.0500,S,1,0
5,6,0,3,male,NaN,0,0,8.4583,Q,1,0
6,7,0,1,male,54.0,0,0,51.8625,S,1,0
7,8,0,3,male,2.0,3,1,21.0750,S,1,0
8,9,1,3,female,27.0,0,2,11.1333,S,0,1
9,10,1,2,female,14.0,1,0,30.0708,C,0,1
10,11,1,3,female,4.0,1,1,16.7000,S,0,1
11,12,1,1,female,58.0,0,0,26.5500,S,0,1
12,13,0,3,male,20.0,0,0,8.0500,S,1,0
13,14,0,3,male,39.0,1,5,31.2750,S,1,0
14,15,0,3,female,14.0,0,0,7.8542,S,0,1

In [13]:
def p1(x):
    if x==1:
        return 1
    else :
        return 0

In [14]:
def p2(x):
    if x==2:
        return 1
    else :
        return 0

In [15]:
def p3(x):
    if x==3:
        return 1
    else :
        return 0

In [16]:
df['1st_class']=df['Pclass'].apply(p1)
df['2nd_class']=df["Pclass"].apply(p2)
df['3rd_class']=df['Pclass'].apply(p3)

In [17]:
df.head(15)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,male,female,1st_class,2nd_class,3rd_class
0,1,0,3,male,22.0,1,0,7.2500,S,1,0,0,0,1
1,2,1,1,female,38.0,1,0,71.2833,C,0,1,1,0,0
2,3,1,3,female,26.0,0,0,7.9250,S,0,1,0,0,1
3,4,1,1,female,35.0,1,0,53.1000,S,0,1,1,0,0
4,5,0,3,male,35.0,0,0,8.0500,S,1,0,0,0,1
5,6,0,3,male,NaN,0,0,8.4583,Q,1,0,0,0,1
6,7,0,1,male,54.0,0,0,51.8625,S,1,0,1,0,0
7,8,0,3,male,2.0,3,1,21.0750,S,1,0,0,0,1
8,9,1,3,female,27.0,0,2,11.1333,S,0,1,0,0,1
9,10,1,2,female,14.0,1,0,30.0708,C,0,1,0,1,0
10,11,1,3,female,4.0,1,1,16.7000,S,0,1,0,0,1
11,12,1,1,female,58.0,0,0,26.5500,S,0,1,1,0,0
12,13,0,3,male,20.0,0,0,8.0500,S,1,0,0,0,1
13,14,0,3,male,39.0,1,5,31.2750,S,1,0,0,0,1
14,15,0,3,female,14.0,0,0,7.8542,S,0,1,0,0,1

In [18]:
df.drop(['Sex','Pclass'],axis=1,inplace=True)

In [19]:
def c(x):
    if x=='C':
        return 1
    else :
        return 0

In [20]:
def s(x):
    if x=='S':
        return 1
    else :
        return 0

In [21]:
def q(x):
    if x=='Q':
        return 1
    else :
        return 0

In [22]:
df['c_Embarked']=df['Embarked'].apply(c)
df['s_Embarked']=df['Embarked'].apply(s)
df['q_Embarked']=df['Embarked'].apply(q)

df.head(15)

In [23]:
df.head(14)

,PassengerId,Survived,Age,SibSp,Parch,Fare,Embarked,male,female,1st_class,2nd_class,3rd_class,c_Embarked,s_Embarked,q_Embarked
0,1,0,22.0,1,0,7.2500,S,1,0,0,0,1,0,1,0
1,2,1,38.0,1,0,71.2833,C,0,1,1,0,0,1,0,0
2,3,1,26.0,0,0,7.9250,S,0,1,0,0,1,0,1,0
3,4,1,35.0,1,0,53.1000,S,0,1,1,0,0,0,1,0
4,5,0,35.0,0,0,8.0500,S,1,0,0,0,1,0,1,0
5,6,0,NaN,0,0,8.4583,Q,1,0,0,0,1,0,0,1
6,7,0,54.0,0,0,51.8625,S,1,0,1,0,0,0,1,0
7,8,0,2.0,3,1,21.0750,S,1,0,0,0,1,0,1,0
8,9,1,27.0,0,2,11.1333,S,0,1,0,0,1,0,1,0
9,10,1,14.0,1,0,30.0708,C,0,1,0,1,0,1,0,0
10,11,1,4.0,1,1,16.7000,S,0,1,0,0,1,0,1,0
11,12,1,58.0,0,0,26.5500,S,0,1,1,0,0,0,1,0
12,13,0,20.0,0,0,8.0500,S,1,0,0,0,1,0,1,0
13,14,0,39.0,1,5,31.2750,S,1,0,0,0,1,0,1,0

In [24]:
df.drop('Embarked',axis=1,inplace=True)

In [25]:
survive_male=df['male'].count()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Age          714 non-null    float64
 3   SibSp        891 non-null    int64
 4   Parch        891 non-null    int64
 5   Fare         891 non-null    float64
 6   male         891 non-null    int64
 7   female       891 non-null    int64
 8   1st_class    891 non-null    int64
 9   2nd_class    891 non-null    int64
 10  3rd_class    891 non-null    int64
 11  c_Embarked   891 non-null    int64
 12  s_Embarked   891 non-null    int64
 13  q_Embarked   891 non-null    int64
dtypes: float64(2), int64(12)
memory usage: 97.6 KB

In [27]:
df.drop(columns =['Age','PassengerId','Fare','SibSp','Parch'],inplace =True)

In [28]:
x = df.values
y = df['Survived'].values

In [29]:
x=np.delete(x,1,axis=1)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [32]:
print(x.shape)

print(x_train.shape)
print(x_test.shape)

(891, 8)
(623, 8)
(268, 8)

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [34]:
feature= ['male','female','1st_class' ,'2nd_class','3rd_class','c_Embarked','s_Embarked','q_Embarked']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   male        891 non-null    int64
 2   female      891 non-null    int64
 3   1st_class   891 non-null    int64
 4   2nd_class   891 non-null    int64
 5   3rd_class   891 non-null    int64
 6   c_Embarked  891 non-null    int64
 7   s_Embarked  891 non-null    int64
 8   q_Embarked  891 non-null    int64
dtypes: int64(9)
memory usage: 62.8 KB

In [36]:
x=df.drop('Survived',axis=1)

In [37]:
y=df['Survived']

In [38]:
x

,male,female,1st_class,2nd_class,3rd_class,c_Embarked,s_Embarked,q_Embarked
0,1,0,0,0,1,0,1,0
1,0,1,1,0,0,1,0,0
2,0,1,0,0,1,0,1,0
3,0,1,1,0,0,0,1,0
4,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...
886,1,0,0,1,0,0,1,0
887,0,1,1,0,0,0,1,0
888,0,1,0,0,1,0,1,0
889,1,0,1,0,0,1,0,0
890,1,0,0,0,1,0,0,1

In [39]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state =42)

In [41]:
scaler=StandardScaler()

In [42]:
x_train

,male,female,1st_class,2nd_class,3rd_class,c_Embarked,s_Embarked,q_Embarked
331,1,0,1,0,0,0,1,0
733,1,0,0,1,0,0,1,0
382,1,0,0,0,1,0,1,0
704,1,0,0,0,1,0,1,0
813,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...
106,0,1,0,0,1,0,1,0
270,1,0,1,0,0,0,1,0
860,1,0,0,0,1,0,1,0
435,0,1,1,0,0,0,1,0
102,1,0,1,0,0,0,1,0

In [43]:
x_train=scaler.fit_transform(x_train)

In [44]:
x_train

array([[ 0.7243102 , -0.7243102 ,  1.8352379 , ..., -0.46146201,
         0.59681695, -0.30335547],
       [ 0.7243102 , -0.7243102 , -0.54488848, ..., -0.46146201,
         0.59681695, -0.30335547],
       [ 0.7243102 , -0.7243102 , -0.54488848, ..., -0.46146201,
         0.59681695, -0.30335547],
       ...,
       [ 0.7243102 , -0.7243102 , -0.54488848, ..., -0.46146201,
         0.59681695, -0.30335547],
       [-1.38062393,  1.38062393,  1.8352379 , ..., -0.46146201,
         0.59681695, -0.30335547],
       [ 0.7243102 , -0.7243102 ,  1.8352379 , ..., -0.46146201,
         0.59681695, -0.30335547]])

In [45]:
x_test=scaler.fit_transform(x_test)

In [46]:
model=LogisticRegression()

In [47]:
model.fit(x_train,y_train)

LogisticRegression()

In [48]:
y_pred=model.predict(x_test)

In [49]:
accuracy=accuracy_score(y_test,y_pred)

In [50]:
accuracy

0.7932960893854749

In [51]:
conf_matrix=confusion_matrix(y_test,y_pred)
class_report=classification_report(y_test,y_pred)

In [52]:
conf_matrix

array([[95, 10],
       [27, 47]], dtype=int64)

In [53]:
class_report

'              precision    recall  f1-score   support\n\n           0       0.78      0.90      0.84       105\n           1       0.82      0.64      0.72        74\n\n    accuracy                           0.79       179\n   macro avg       0.80      0.77      0.78       179\nweighted avg       0.80      0.79      0.79       179\n'